* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
.main_header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(246, 246, 246, 0.4);
  width: 100%;
  height: 12vh;
}

.main_header__section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4vw 0 3vw;
}

.main_header__item {
  padding: 6px 30px;
  font-weight: 400;
  font-size: 16px;
  margin-left: 4vw;
  border-radius: 10px;
}

.main_no-fill {
  border: 2px solid #5D13E7;
  background-color: #fff;
  color: #5D13E7;
}

.main_fill {
  background-color: #5D13E7;
  color: #fff;
  border: 2px solid #5D13E7;
}

.main_header-button {
  cursor: pointer;
}

.main_wrapper {
  background-color: #f0f0f00c;
  padding: 4vh;
  display: grid;
  grid-template-columns: 1.8fr 1.2fr;
  grid-column-gap: 3.5vw;
}

.main_image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #5D13E7;
  width: 33vw;
  height: 77vh;
}

.main_text {
  display: grid;
  grid-template-rows: 1.9fr 1.1fr;
  grid-row-gap: 3vh;
}

.main_information {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #5D13E7;
  color: #fff;
  border-radius: 30px;
}

.main_h1 {
  display: flex;
  align-items: center;
  padding: 5vh 4vw 0 4vw;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
}

.main_h3 {
  display: flex;
  align-items: center;
  padding: 0 4vw;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

.main_carousel-name {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #000;
  /* padding-left: 4vw; */
  padding-bottom: 1.5vh;
}

.main_partners {
  background-color: #F6F6F6;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* row-gap: 30px; */
  padding: 15px;
}

.main_image img {
  width: 75%;
  height: 89%;
}