* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(246, 246, 246, 0.4);
  width: 100%;
  height: 12vh;
}

.header__section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4vw 0 3vw;
}

.header__item {
  padding: 6px 30px;
  font-weight: 400;
  font-size: 16px;
  margin-left: 4vw;
  border-radius: 10px;
}

.no-fill {
  border: 2px solid #5D13E7;
  background-color: #fff;
  color: #5D13E7;
}

.fill {
  background-color: #5D13E7;
  color: #fff;
  border: 2px solid #5D13E7;
}

.header-button {
  cursor: pointer;
}

.wrapper {
  background-color: #f0f0f00c;
  padding: 4vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 4vw;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #5D13E7;
  width: 33vw;
  height: 77vh;
}

.text {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-row-gap: 3vh;
}

.information {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #5D13E7;
  color: #fff;
  border-radius: 30px;
}

.h1 {
  display: flex;
  align-items: center;
  padding: 5vh 4vw 0 4vw;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
}

.h3 {
  display: flex;
  align-items: center;
  padding: 0 4vw;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

.carousel-name {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #000;
  padding-left: 4vw;
  padding-top: 1.5vh;
}

.partners {
  background-color: #F6F6F6;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.image img {
  width: 75%;
  height: 89%;
}