*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.projectCard_body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #969292;
}

.projectCard_accordion-card{
  box-shadow: 0px 0px 30px #F6F6F6;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 11px;
  width: 315px;
  height: 315px;
  transition: height 0.5s ease-in-out;
  z-index: 0;
}

.projectCard_card-content {
  width: 100%;
  height: 82%;
  display: flex;
  padding: 12px 20px;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  background: #fff;
  border-radius: 11px 11px 0 0;
}

.projectCard_accordion-card .projectCard_card-content .projectCard_profile-image {
  display: flex;
  width: 100%;
  height: 39%;
  align-items: center;
  justify-content: center;
  margin: 3% 0;
  background-color: #f6f6f6;
  border-radius: 10px;
}

.projectCard_accordion-card .projectCard_card-content .projectCard_profile img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.projectCard_h2 {
  font-size: calc(14px + 6 * (100vw / 1440));
  font-style: normal;
  font-weight: 500;
}

.projectCard_h3 {
  font-size: calc(14px + 4 * (100vw / 1440));
  font-style: normal;
  font-weight: 400;
}

.projectCard_card-text {
  width: 100%;
  height: 0;
  background-color: #FFF9F9;
  padding: 0 22px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.projectCard_card-label {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #000000;
  text-align: left;
  margin: 0 0 0;
}

.projectCard_card-text-wrapper {
  background-color: #F6F6F6;
  border-radius: 15px;
  word-break: break-word;
  padding: 10px 12px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.projectCard_card-text-area {
  display: block;
  background-color: #F6F6F6;
  font-size: calc(14.5px + 2.5 * (100vw / 1440));
  border: none;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.projectCard_button-wrapper {
  background-color: #fff;
  width: 100%;
  height: 18%;
  padding: 7px 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  border-radius: 0 0 11px 11px;
}

.projectCard_accordion-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53%;
  height: 33px;
  border: none;
  border-radius: 10px;
  background: #5D13E7;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

::-webkit-scrollbar{
  width: 0;
}

