#main-slider-container {
  width: 44vw;
  position: relative;
  display: flex;
  align-items: center;
}

#slider {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

#slider::-webkit-scrollbar {
  display: none;
}

.slider-card-image {
  width: 100%;
  height: 100%;
  background-color: #b8b8b8;
  border-radius: 10px;
}

.slider-icon.left, .slider-icon.right {
  background: #fff;
  border-radius: 100%;
  position: absolute;
  top: 50%; 
  transform: translate(-50%, -50%); 
  opacity: 0.5;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 12%);
  cursor: pointer;
}

.slider-icon.left {
  left: 0;
}

.slider-icon.right {
  right: -40px;
}

.slider-icon.left:hover, .slider-icon.right:hover {
  opacity: 1;
}

.slider-card {
  width: 7em;
  height: 7em;
  background: #fff;
  display: inline-block;
  border-radius: 10px;
  margin: 0 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 12%);
  cursor:  pointer;
}